<button (click)="fetchPrev.next(firstEntryName)" [disabled]="isPrevDisabled()">Fetch Prev</button>
<!-- <button (click)="onClearCache()">Clear Cache</button> -->
<button (click)="fetchNext.next(lastEntryName)">Fetch Next</button>
<button (click)="changeNum.next('5')">5</button>
<button (click)="changeNum.next('10')">10</button>
<button (click)="changeNum.next('15')">15</button>
<button (click)="changeNum.next('20')">20</button>
<span>
  Show items: <input type="text" max="100" min="21" [value]="itemsNumToFetch" (change)="onNumItemsChange($event)" placeholder="Enter number of items">
  <button (click)="changeNum.next(itemsNumToFetch)">Show me the truth</button>
</span>
<div *ngIf="$entries" class="entries">
  <ng-container *ngFor="let entry of entries">
    <app-entry [entry]="entry"></app-entry>
  </ng-container>
</div>
