.comment {
  padding: 10px;
  margin: 5px;
  background: #eeeeee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  .author {
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
  }
}

.sub-comment {
  padding-left: 10px;
  background: #999999;
}
